body#page-top.index

  nav.navbar.navbar-default.navbar-fixed-top
    .container
     
      .navbar-header.page-scroll
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-blu')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.page-scroll(href='#page-top')
          img.img-responsive(alt='Logo-BLU', src='../../images/logo_white.png')
    
      #navbar-collapse-blu.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li.hidden
            a(href='#page-top')
          li
            a.page-scroll(href='#page-top') INICIO
          li
            a.page-scroll(href='#features') CARACTERÍSTICAS
          li
            a.page-scroll(href='#services') SERVICIOS
          li
            a.page-scroll(href='#function') ¿CÓMO FUNCIONA?
          li
            a.page-scroll(href='#contact') CONTACTO
   
