.btn{
	margin-top: 1.5em;
}

.btn i{
	padding-right: 10px;
	font-size: 1.5em;
}

.btn-lg{
    padding: 15px 40px;
    font-size: 20px;
    font-family: myriadProSemibold;
}

.btn-primary{
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn-primary:hover{
	color: @color-white;
}