.box {
  background-color: @color-white;
  margin-top: -12em;
  margin-bottom: 20em;
  padding-top: 15em;
  -webkit-transform: skewY(-13deg);
  -moz-transform: skewY(-13deg);
  -ms-transform: skewY(-13deg);
  -o-transform: skewY(-13deg);
  transform: skewY(-13deg);
}

.box > .wrapper {
  -webkit-transform: skewY(13deg);
  -moz-transform: skewY(13deg);
  -ms-transform: skewY(13deg);
  -o-transform: skewY(13deg);
  transform: skewY(13deg);
}  

.bg-features{
  width: 100%;
  position: absolute;
}

#features{ 
  h3{
    margin-bottom: 1em;
  }
  .app-blu{
    width: 63%;
  }
}

.text-features{
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

@media (max-width: 991px) {   
  .box {
      margin-bottom: 10em;
  }
}

@media (max-width: 286px) {   
  .media-object{
    display: none;
  }
}

@media (min-width: 1441px){
    .box {
      margin-top: -14em;
    }
}