.bg-function{
	background-image: url('../images/cubos_funciona.png');
	background-repeat: no-repeat;
	background-size: 100%;
    background-position: top;
	height: 1730px;
}

.text-function{
	font-size: 1.5em;
	padding-right: 5em;
}

.pb-5{
	margin-bottom: 5em;
}
.media-object{
	padding-right: 1em;
}

.mobile-app{
	padding-top: 2em;
}

@media (max-width: 400px) {
    .text-function{
		padding-right: 1em;
	}
}
