body{
	font-family: myriadPro;
	color: @gray;
}

.font-blue{
	color: @color-dark-blue;
}

h2{
	font-family: myriadProSemibold;
	font-size: 4em;
	text-align: center;
	margin: 2em 0 2em 0;
}

h3{
	font-family: myriadProSemibold;
	font-size: 2.5em;
	text-align: center;
	color: @color-blue;
	margin-bottom: 1em;
}

h4{
	font-family: myriadProSemibold;
	font-size: 1.7em;
}

.pleca {
  position: absolute;
  z-index: -1;
  width: 100%;

  img{
    width: 100%;
  }
}



@media(max-width:460px) {
    h2{
		font-size: 3em;
	}
}

@media(max-width:350px) {
    h2{
		font-size: 2em;
	}
}



