header, section{
	padding: 100px 0; 
}

/* Background*/

.bg-principal{
	background-image: url('../images/blu_principal.jpg');
	background-repeat: no-repeat;
	background-size: cover;
    background-position: top;
	height: 1236px;
}