.glyphicon-ok{
	top: 4px;
}

.glyphicon-arrow-left{
	top: 7px;
} 

.form-users{
	font-family: myriadProSemibold;
	font-size: 1.2em;
	border: 2px solid #dadcdd;
	border-radius: 6px;
	padding-top: 1em;
	padding-bottom: 1em;
}