html
        body
                h1 comprobante

                if codigo == 2
                        label comprobante incorrecto
                else
                        label autorización:
                        label=data.autorizacion
                        br
                        label fecha de Captura: #{data.fechaCaptura} esta es la fecha
