extends layout2

block content

    section
          .container
            .row
              .col-md-offset-2.col-md-8

                div.users-content
                    h1.title-users CONSULTA TU COMPROBANTE
                    p.subtitle-users Para ver el detalle de tus pagos ingresa los siguientes datos:

                    form.form-users(role='form', method='POST', action='/informacion-comprobante')
                        .form-group
                            label(for='date') Fecha:
                            input#date.form-control.form-inputs(name='fecha' type='text' placeholder='dd-mm-aaaa')  
                        .form-group
                            label(for='autorization') Número de autorización:
                            input#autorization.form-control.form-inputs(name='autorizacion' type='number' placeholder='0000')
                        button.btn.btn-primary.btn-lg.btn-users-100.btn-responsive(name='submit' type='submit' value='confirmar')
                            i.glyphicon.glyphicon-ok-sign 
                            | CONFIRMAR COMPROBANTE
    br