extends layout

block content
    section.bg-principal
        header.bg-principal-2
          .container
            .row
              .col-md-6
                h1.title-principal
                  span.bold-text AGREGA
                  |  MÁS 
                  span.bold-text VALOR
                  |  A TU 
                  span.bold-text NEGOCIO  
                p.title-secundary
                  b BLU 
                  | es una plataforma de pago de servicios que ayudará a tu negocio a funcionar como una terminal de cobros para proveer a tus clientes una alternativa cómoda.

                a.btn.btn-primary.btn-lg(href='#', type='button')
                    i.glyphicon.glyphicon-cloud-download 
                    | DESCARGAR
              .col-md-6
                img.client-img(src='../images/Cliente.png', alt='cliente')  
    
    
    section.box
        section.wrapper
            section#features.bg-features
                .container
                    .row
                        .col-md-12
                            h2 CARACTERÍSTICAS

                        .col-md-6.text-center
                            img.app-blu(src='../images/phone_android_screen1.png', alt='app-BLU') 
                        
                        .col-md-6
                            h3 ¿Qué puedes hacer con BLU?

                        .col-md-6
                            .col-md-3.text-center
                                img(src='../images/icons/icon_pagoser.png', alt='icono pago de servicios') 
                            .col-md-9    
                                h4 Pago de servicios
                                p.text-features No más filas para tus clientes, recibe su pago de servicios de una manera rápida, sencilla y en efectivo, brindando un servicio de calidad.
                        .col-md-6
                            .col-md-3.text-center
                                img(src='../images/icons/icon_tiempoaire.png', alt='icono pago de servicios')
                            .col-md-9
                                h4 Recargas tiempo aire
                                p.text-features No permitas que tus clientes se queden sin saldo, con BLU puedes realizar recargas de cualquier compañía.
                        .col-md-6
                            .col-md-3.text-center
                                img(src='../images/icons/icon_seguro.png', alt='icono pago de servicios')
                            .col-md-9        
                                h4 Fácil, rápido y seguro
                                p.text-features Podrás realizar muchos cobros de servicios desde tu negocio y sus sucursales, mateniendo un entorno seguro y confiable mediante acceso por usuario y contraseña, además de confirmaciones por cada operación realizada.

    section#services.pleca-green
        //- svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='1915px', height='800px', viewbox='0 0 1391 800', enable-background='new 0 0 1391 800', xml:space='preserve')
        //-     path(fill-rule='evenodd', clip-rule='evenodd', fill='#02FBBD', d='M-2,336L1391,1v420L-1,760L-2,336z')

        .container
            .row
                .col-md-12
                    h2 SERVICIOS
                    p Conoce los servicios que podrás ofrecer a tus clientes. 

    section#function
        .container
            .row
                .col-md-12
                    h2 ¿CÓMO FUNCIONA?

                .col-md-6
                    p Contáctanos para que comiences a usar BLU en tu negocio.
                    p Instala la app en cualquier dispositivo Android 4.0

                .col-md-6
                    p Convierte tu smartphone o tablet en un punto de venta a través de nuestra herramienta web.
                    p Si tienes más de una sucursal puedes administrar de una manera rápida y sencilla diferentes puntos de venta.          

    section#contact
        .container
            .row
                .col-md-12
                    h2 CONTACTO

                .col-md-6
                    h3 ¡Comienza ya!

                    p Contáctanos por:

                    h4 Teléfono
                    p +52 55 5555 55

                    h4 Email
                    p contacto@blu.mx

                    h4 Horario
                    p Lunes a viernes de 9hrs. a 18hrs.

                .col-md-6
                    h3 O regístrate

                    p En el siguiente formulario y nosotros nos ponemos en contacto contigo: 

                    form(role='form')
                        .form-group
                            label(for='name') Nombre:
                            input#name.form-control(type='text')  
                        .form-group
                            label(for='email') Email:
                            input#email.form-control(type='email')
                        .form-group
                            label(for='phone') Teléfono:
                            input#phone.form-control(type='number')
                        .form-group
                            label(for='message') Mensaje:
                            textarea#message.form-control(rows='3')
                        button.btn.btn-default(type='submit') Enviar


