doctype html
html(lang="es")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title BLU
    link(rel='stylesheet', href='/stylesheets/main.css')


  body
    include ./includes/navbar
    block content



    include ./includes/footer

    block javascript
        script(src='resources/jquery/dist/jquery.min.js')
        script(src='resources/bootstrap/dist/js/bootstrap.min.js')

        //- Plugin JavaScript Navbar
        script(src='javascripts/jquery.easing.1.3.js')
        script(src='javascripts/classie.js')
        script(src='javascripts/cbpAnimatedHeader.min.js')

        //- Plugin Parallax
        script(src='javascripts/parallax.js')
        
        //- Custom Theme JavaScript
        script(src='javascripts/blu.js')