doctype html
html(lang="es")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Consulta tu comprobante de pago')
    meta(name='author', content='BLU MX')
    title BLU | Usuarios
    link(rel='stylesheet', href='/stylesheets/main.css')


  body
    block content



    include ./includes/footer

    block javascript
        script(src='resources/jquery/dist/jquery.min.js')
        script(src='resources/bootstrap/dist/js/bootstrap.min.js')
        
        //- Custom Theme JavaScript
        script(src='javascripts/blu.js')
                