doctype html
html(lang="es")

  body
        form(method="POST", action="/revisarcomprobante")
                input(type="text" name="fecha")
                input(type="text" name="autorizacion")
                input(type="submit" value="confirmar")
